<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="dk.kamstruplinnet.quickmarks"
   name="%pluginName"
   version="1.0.1"
   provider-name="%providerName"
   class="dk.kamstruplinnet.quickmarks.QuickmarksPlugin">

   <runtime>
      <library name="quickmarks.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSetName"
            id="dk.kamstruplinnet.quickmarks.actionSet">
         <action
               label="%addQuickmarkLabel1"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark1Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction1">
         </action>
         <action
               label="%addQuickmarkLabel2"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark2Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction2">
         </action>
         <action
               label="%addQuickmarkLabel3"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark3Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction3">
         </action>
         <action
               label="%addQuickmarkLabel4"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark4Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction4">
         </action>
         <action
               label="%addQuickmarkLabel5"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark5Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction5">
         </action>
         <action
               label="%addQuickmarkLabel6"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark6Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction6">
         </action>
         <action
               label="%addQuickmarkLabel7"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark7Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction7">
         </action>
         <action
               label="%addQuickmarkLabel8"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark8Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction8">
         </action>
         <action
               label="%addQuickmarkLabel9"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark9Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction9">
         </action>
         <action
               label="%addQuickmarkLabel0"
               definitionId="dk.kamstruplinnet.quickmarks.addQuickmark0Command"
               class="dk.kamstruplinnet.quickmarks.SetQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.addQuickmarkAction0">
         </action>
         <action
               label="%gotoQuickmarkLabel1"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark1Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction1">
         </action>
         <action
               label="%gotoQuickmarkLabel2"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark2Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction2">
         </action>
         <action
               label="%gotoQuickmarkLabel3"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark3Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction3">
         </action>
         <action
               label="%gotoQuickmarkLabel4"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark4Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction4">
         </action>
         <action
               label="%gotoQuickmarkLabel5"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark5Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction5">
         </action>
         <action
               label="%gotoQuickmarkLabel6"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark6Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction6">
         </action>
         <action
               label="%gotoQuickmarkLabel7"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark7Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction7">
         </action>
         <action
               label="%gotoQuickmarkLabel8"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark8Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction8">
         </action>
         <action
               label="%gotoQuickmarkLabel9"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark9Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction9">
         </action>
         <action
               label="%gotoQuickmarkLabel0"
               definitionId="dk.kamstruplinnet.quickmarks.gotoQuickmark0Command"
               class="dk.kamstruplinnet.quickmarks.GotoQuickmarkAction"
               id="dk.kamstruplinnet.quickmarks.gotoQuickmarkAction0">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel1"
            id="dk.kamstruplinnet.quickmarks.addQuickmark1Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel2"
            id="dk.kamstruplinnet.quickmarks.addQuickmark2Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel3"
            id="dk.kamstruplinnet.quickmarks.addQuickmark3Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel4"
            id="dk.kamstruplinnet.quickmarks.addQuickmark4Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel5"
            id="dk.kamstruplinnet.quickmarks.addQuickmark5Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel6"
            id="dk.kamstruplinnet.quickmarks.addQuickmark6Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel7"
            id="dk.kamstruplinnet.quickmarks.addQuickmark7Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel8"
            id="dk.kamstruplinnet.quickmarks.addQuickmark8Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel9"
            id="dk.kamstruplinnet.quickmarks.addQuickmark9Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%addQuickmarkLabel0"
            id="dk.kamstruplinnet.quickmarks.addQuickmark0Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel1"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark1Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel2"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark2Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel3"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark3Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel4"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark4Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel5"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark5Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel6"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark6Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel7"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark7Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel8"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark8Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel9"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark9Command"/>
      <command
            category="org.eclipse.ui.category.navigate"
            name="%gotoQuickmarkLabel0"
            id="dk.kamstruplinnet.quickmarks.gotoQuickmark0Command"/>
      <keyBinding
            string="Ctrl+Alt+B 1"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark1Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 2"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark2Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 3"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark3Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 4"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark4Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 5"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark5Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 6"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark6Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 7"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark7Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 8"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark8Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 9"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark9Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Alt+B 0"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.addQuickmark0Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+1"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark1Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+2"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark2Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+3"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark3Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+4"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark4Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+5"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark5Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+6"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark6Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+7"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark7Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+8"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark8Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+9"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark9Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Alt+0"
            scope="org.eclipse.ui.textEditorScope"
            command="dk.kamstruplinnet.quickmarks.gotoQuickmark0Command"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         id="quickmarker"
         name="%quickmarker"
         point="org.eclipse.core.resources.markers">
      <super 
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
      	    value="true">
      </persistent>
      <attribute name="file"/>
      <attribute name="number"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="dk.kamstruplinnet.quickmarks.quickmarker"
            id="dk.kamstruplinnet.quickmarks.quickmarksImageProvider"
            class="dk.kamstruplinnet.quickmarks.QuickmarksImageProvider"/>
   </extension>
</plugin>
