<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="dk.kamstruplinnet.implementors.core"
   name="%pluginName"
   version="0.0.17"
   provider-name="%providerName"
   class="dk.kamstruplinnet.implementors.core.Implementors">

   <runtime>
      <library name="implementors-core.jar">
         <export name="*"/>
         <packages prefixes="dk.kamstruplinnet.implementors.core"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources" version="3.1.0" match="greaterOrEqual"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility" optional="true" version="3.0.0"/>
   </requires>

   <extension-point id="implementorproviders" name="Implementor Providers" schema="schema/implementorproviders.exsd"/>

   <extension
         point="dk.kamstruplinnet.implementors.core.implementorproviders">
      <provider
            class="dk.kamstruplinnet.implementors.core.JavaImplementorFinder">
      </provider>
   </extension>

</plugin>
